In [105]:
import pandas as pd
from datetime import datetime

file_path = '/Users/HM/Desktop/Code/FOIL_DA_Task-10-2024/data/Online_Retail.xlsx'
df = pd.read_excel(file_path)

In [106]:

def load_data(file_path):

    df = pd.read_excel(file_path)

    df = df.sort_values(by='InvoiceDate').reset_index(drop=True)

    return df.shape, df.head(5), df.info()

In [107]:
print(load_data(file_path))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  datetime64[ns]
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 33.1+ MB
((541909, 8),   InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

          InvoiceDate  UnitPrice  CustomerID         Country
0 2010-12-01 08:26:00       2.55     17850.0  United Kingdom
1 2010-12-01 08:26:00       3.39     17850.0  United Kingdom
2 2010-12-01 08:26:00       2.75     17850.0  United Kingdom
3 2010-12-01 08:26:00       3.39     17850.0  United Kingdom
4 2010-12-01 08:26:00       3.39     17850.0  United Kingdom  , None)


A large number of CustomerIDs are missing, and will be filled in using '-1'.

Direct visual inspection of the spreadsheet shows that some items seem to have been mislabeled as other items.

Entries in the Description column are in combination upper- and lower-case, while item names are entirely in upper-case. This does not need to be changed.

In [108]:
def empty_values(file_path):
    
    
    df = pd.read_excel(file_path)

    cols = ['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate', 'UnitPrice', 'CustomerID', 'Country']
    
    empty_values_count = {}
    
    for col in cols:
        if df[col].dtype == 'object':
            empty_values = df[df[col].isnull() | (df[col].str.strip() == "")]
        else:
            empty_values = df[df[col].isnull()]

        empty_values_count[col] = len(empty_values)

        if len(empty_values) > 0:
            print(f"Column {col} has {len(empty_values)} missing or empty values")
        else:
            print(f"No empty or missing values found in {col} column")
            
    return empty_values_count

print(empty_values(file_path))

No empty or missing values found in InvoiceNo column
No empty or missing values found in StockCode column
Column Description has 1454 missing or empty values
No empty or missing values found in Quantity column
No empty or missing values found in InvoiceDate column
No empty or missing values found in UnitPrice column
Column CustomerID has 135080 missing or empty values
No empty or missing values found in Country column
{'InvoiceNo': 0, 'StockCode': 0, 'Description': 1454, 'Quantity': 0, 'InvoiceDate': 0, 'UnitPrice': 0, 'CustomerID': 135080, 'Country': 0}

Filling empty Customer IDs and Descriptions with suitable values

In [109]:
def fill_missing_cust_id(file_path):

    df = pd.read_excel(file_path)
    prior_missing_cust_ids= df['CustomerID'].isnull().sum()
    df['CustomerID'] = df['CustomerID'].fillna("Missing ID")

    post_missing_cust_ids = df['CustomerID'].isnull().sum()

    return prior_missing_cust_ids, post_missing_cust_ids

In [110]:
def fill_missing_description(file_path):
    
    df = pd.read_excel(file_path)
    
    prior_missing_descriptions = df['Description'].isnull().sum()
    
    df['Description'] = df['Description'].fillna("Missing Description")
    
    post_missing_descriptions = df['Description'].isnull().sum()
    
    df.to_excel(file_path, index=False)
    return prior_missing_descriptions, post_missing_descriptions

In [111]:
for col in ['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate', 'UnitPrice', 'CustomerID', 'Country']:
    print(f"{df[col].isnull().mean() * 100}% of {col} is missing")

0.0% of InvoiceNo is missing
0.0% of StockCode is missing
0.2683107311375157% of Description is missing
0.0% of Quantity is missing
0.0% of InvoiceDate is missing
0.0% of UnitPrice is missing
24.926694334288598% of CustomerID is missing
0.0% of Country is missing

We see there are two columns where values are missing, so we will need to deal with those. We also need to check those values that do not make any sense e.g. negative values for Quantity or UnitPrice.

First, however, we need to drop duplicate rows to prevent double-counting.

In [112]:
def drop_duplicates(file_path):

    df = pd.read_excel(file_path)
    df = df.drop_duplicates()
    
    return df

Next we deal with non-positive prices.

In [125]:
def impute_unit_price(df):
    mask = df['UnitPrice'] <= 0
    for stock_code in df.loc[mask, 'StockCode'].unique():
        positive_prices = df[(df['StockCode'] == stock_code) & (df['UnitPrice'] > 0)]['UnitPrice']
        if not positive_prices.empty:
            mean_positive_price = positive_prices.mean()
            df.loc[(df['StockCode'] == stock_code) & mask, 'UnitPrice'] = mean_positive_price
            
    return df

In [126]:
negative_or_zero_price_percentage = (df['UnitPrice'] <= 0).mean() * 100
print(f"{negative_or_zero_price_percentage:.2f}% of UnitPrice values are zero or negative")

0.46% of UnitPrice values are zero or negative

In [130]:
cleaned_df = impute_unit_price(df)
new_negative_or_zero_price_percentage = (cleaned_df['UnitPrice'] <= 0).mean() * 100
print(f"After imputation, {new_negative_or_zero_price_percentage:.2f}% of UnitPrice values are zero or negative")

After imputation, 0.02% of UnitPrice values are zero or negative

After imputation, we are left with a very small number of negative or zero UnitPrices. 
Because of the impossibility of finding out what these prices should be, we will drop them.

In [133]:
df_no_neg_prices = cleaned_df[df['UnitPrice'] >= 0]
df_no_neg_prices .reset_index(drop=True, inplace=True)
print(df_no_neg_prices)

       InvoiceNo StockCode                          Description  Quantity  \
0         536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1         536365     71053                  WHITE METAL LANTERN         6
2         536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3         536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4         536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
...          ...       ...                                  ...       ...
541902   C581490     23144      ZINC T-LIGHT HOLDER STARS SMALL       -11
541903   C581499         M                               Manual        -1
541904   C581568     21258           VICTORIAN SEWING BOX LARGE        -5
541905   C581569     84978     HANGING HEART JAR T-LIGHT HOLDER        -1
541906   C581569     20979        36 PENCILS TUBE RED RETROSPOT        -5

               InvoiceDate  UnitPrice  CustomerID         Country
0      2010-12-01 08:26:00       2.55     17850.0  United Kingdom
1      2010-12-01 08:26:00       3.39     17850.0  United Kingdom
2      2010-12-01 08:26:00       2.75     17850.0  United Kingdom
3      2010-12-01 08:26:00       3.39     17850.0  United Kingdom
4      2010-12-01 08:26:00       3.39     17850.0  United Kingdom
...                    ...        ...         ...             ...
541902 2011-12-09 09:57:00       0.83     14397.0  United Kingdom
541903 2011-12-09 10:28:00     224.69     15498.0  United Kingdom
541904 2011-12-09 11:57:00      10.95     15311.0  United Kingdom
541905 2011-12-09 11:58:00       1.25     17315.0  United Kingdom
541906 2011-12-09 11:58:00       1.25     17315.0  United Kingdom

[541907 rows x 8 columns]

In [134]:
negative_quantity = (cleaned_df["Quantity"] <= 0).mean() * 100
print(f"{negative_quantity:.2f}% of Quantity values are zero or negative")

1.96% of Quantity values are zero or negative

Because the cases where Quantity is zero or negative deal with adjustments or outflows, we will ignore that data when looking for the top-selling data and average consumer statistics.

In [135]:
final_df = cleaned_df[cleaned_df['Quantity'] > 0]

In [136]:
final_df["Country"].value_counts(normalize=True).head(10) * 100

Country
United Kingdom    91.530158
Germany            1.701911
France             1.582578
EIRE               1.485832
Spain              0.467734
Netherlands        0.444771
Belgium            0.382281
Switzerland        0.370234
Portugal           0.282523
Australia          0.223044
Name: proportion, dtype: float64

The UK accounts for almost 92% of all transactions, with the rest being made up of neighbouring EU countries.

In [137]:
print(f"After cleaning, the first transaction was made at {final_df['InvoiceDate'].min()}")
print(f"The latest transaction was made at {final_df['InvoiceDate'].max()}")
print(f"There were a total of {final_df['InvoiceNo'].nunique()} transactions")

The first transaction was made at 2010-12-01 08:26:00
The latest transaction was made at 2011-12-09 12:50:00
There were a total of 20728 transactions

We can now get a sense of the cleaned data

In [146]:
print(final_df.shape)

print(final_df.info)

(531285, 8)
<bound method DataFrame.info of        InvoiceNo StockCode                          Description  Quantity  \
0         536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1         536365     71053                  WHITE METAL LANTERN         6
2         536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3         536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4         536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
...          ...       ...                                  ...       ...
532616    581587     23255      CHILDRENS CUTLERY CIRCUS PARADE         4
532617    581587     22138        BAKING SET 9 PIECE RETROSPOT          3
532618   A563185         B                      Adjust bad debt         1
532619   A563186         B                      Adjust bad debt         1
532620   A563187         B                      Adjust bad debt         1

               InvoiceDate  UnitPrice  CustomerID         Country
0      2010-12-01 08:26:00       2.55     17850.0  United Kingdom
1      2010-12-01 08:26:00       3.39     17850.0  United Kingdom
2      2010-12-01 08:26:00       2.75     17850.0  United Kingdom
3      2010-12-01 08:26:00       3.39     17850.0  United Kingdom
4      2010-12-01 08:26:00       3.39     17850.0  United Kingdom
...                    ...        ...         ...             ...
532616 2011-12-09 12:50:00       4.15     12680.0          France
532617 2011-12-09 12:50:00       4.95     12680.0          France
532618 2011-08-12 14:50:00   11062.06         NaN  United Kingdom
532619 2011-08-12 14:51:00   11062.06         NaN  United Kingdom
532620 2011-08-12 14:52:00   11062.06         NaN  United Kingdom

[531285 rows x 8 columns]>

We have maintained the same number of columns but reduced the rows containing data we did not need.

In [147]:
summary_stats=final_df.describe()
print(summary_stats)

            Quantity                    InvoiceDate      UnitPrice  \
count  531285.000000                         531285  531285.000000
mean       10.655262  2011-07-04 18:15:45.816538624       3.956014
min         1.000000            2010-12-01 08:26:00       0.000000
25%         1.000000            2011-03-28 11:59:00       1.250000
50%         3.000000            2011-07-20 12:01:00       2.080000
75%        10.000000            2011-10-19 12:35:00       4.130000
max     80995.000000            2011-12-09 12:50:00   13541.330000
std       156.830323                            NaN      41.827905

          CustomerID
count  397924.000000
mean    15294.315171
min     12346.000000
25%     13969.000000
50%     15159.000000
75%     16795.000000
max     18287.000000
std      1713.169877