In [29]:
import pandas as pd
from datetime import datetime

file_path = '/Users/HM/Desktop/Code/FOIL_DA_Task-10-2024/data/Online_Retail.xlsx'
df = pd.read_excel(file_path)

In [30]:

def load_data(file_path):

    df = pd.read_excel(file_path)

    df = df.sort_values(by='InvoiceDate').reset_index(drop=True)

    return df.shape, df.head(5), df.info()

In [31]:
print(load_data(file_path))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  datetime64[ns]
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 33.1+ MB
((541909, 8),   InvoiceNo StockCode                          Description  Quantity  \
0    536365     71053                  WHITE METAL LANTERN         6
1    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
2    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
3    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
4    536365     22752         SET 7 BABUSHKA NESTING BOXES         2

          InvoiceDate  UnitPrice  CustomerID         Country
0 2010-12-01 08:26:00       3.39     17850.0  United Kingdom
1 2010-12-01 08:26:00       2.55     17850.0  United Kingdom
2 2010-12-01 08:26:00       3.39     17850.0  United Kingdom
3 2010-12-01 08:26:00       3.39     17850.0  United Kingdom
4 2010-12-01 08:26:00       7.65     17850.0  United Kingdom  , None)


A large number of CustomerIDs are missing, and will be filled in using '-1'.

Direct visual inspection of the spreadsheet shows that some items seem to have been mislabeled as other items.

Entries in the Description column are in combination upper- and lower-case, while item names are entirely in upper-case. This does not need to be changed.

In [32]:
def empty_values(file_path):
    
    
    df = pd.read_excel(file_path)

    cols = ['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate', 'UnitPrice', 'CustomerID', 'Country']
    
    empty_values_count = {}
    
    for col in cols:
        if df[col].dtype == 'object':
            empty_values = df[df[col].isnull() | df[col].str.strip() == ""]
        else:
            empty_values = df[df[col].isnull()]

        empty_values_count[col] = len(empty_values)

        if len(empty_values) > 0:
            print(f"Column {col} has {len(empty_values)} missing or empty values")
        else:
            print(f"No empty or missing values found in {col} column")
            
    return empty_values_count

Filling empty Customer IDs with -1

In [33]:
def fill_missing_cust_id(file_path):

    df = pd.read_excel(file_path)
    prior_missing_cust_ids= df['CustomerID'].isnull().sum()
    df['CustomerID'] = df['CustomerID'].fillna(-1)

    post_missing_cust_ids = df['CustomerID'].isnull().sum()

    return prior_missing_cust_ids, post_missing_cust_ids

In [34]:
df[['Quantity', 'UnitPrice']].describe()

            Quantity      UnitPrice
count  541909.000000  541909.000000
mean        9.552250       4.611114
std       218.081158      96.759853
min    -80995.000000  -11062.060000
25%         1.000000       1.250000
50%         3.000000       2.080000
75%        10.000000       4.130000
max     80995.000000   38970.000000

Some price data is negative, while the quantity for certain items are also negative implying outflow. This needs further investigation.

In [ ]:
def drop_duplicates(file_path):

    df = pd.read_excel(file_path)
    df = df.drop_duplicates()
    
    return df